nav {
    height: 100px;
    width: 100%;
    background-color:brown;
    color: white;
  }
  .navitems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .navitems h2 {
    font-size: 50px;
    margin-top: 10px;
  }
  .navitems button {
    width: 20%;
    height: 65px;
    border: 2px solid whitesmoke;
    border-radius: 30px;
    background: black;
    color: rgb(242, 248, 243);
    font-weight: bolder;
    font-family: serif;
    font-size: 20px;
    margin: auto 0px;
  }
  .fetchbtn:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    font-weight: bolder;
    font-family: serif;
    font-size: 20px;
    color: brown;
  }
  .userdatacontainer {
    width: 100%;
    margin-top: 25px;
    height: fit-content;
    background-color: white;
  }
  #main {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }
  .name:hover {
    color:black;
  }
  .avatar {
    border-radius: 20%;
  }
  .profile_cont {
    border-radius: 8%;
    background-color: black;
    color: cornsilk;
    margin: 10px;
    margin-top: 1px;
    padding: 10px;
    width: 320px;
    height: 270px;
    text-align: center;
    transition: transform ease 0.2s;
    border: 2px solid black;
    opacity: 0.8;

  }
  .profile_cont:hover {
    transform: scale(1.2);
    background-color: white;
    color: brown;
    opacity: 1;
  }
